[Unit]
Description=python3 weather epaper display

[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/python3-weather-epaper/config
ExecStart=/usr/bin/python3-weather-epaper/python3-weather-epaper.py

[Install]
WantedBy=network-online.target
